/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 12:39:06 AM
    Author     : Tatu
*/

body{
    background-image: url("../img/bg.png");
}

#main{
    background:  khaki;
}
.container{
    background: white;
}
#table-container{
    width: 28%;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    width: 100%; /* use this, or not */
    margin: auto;
    height: 200px;
}

.carousel-indicators{
    bottom: -13px;
}
.carousel-inner > .item > div{
    margin: -38px;
}

.modal{
    position: absolute;
    margin: 0 auto;
    height: 45%;
    width: 30%;
    overflow: auto;
}

.modal-content{
    height: 100%;
    width: 100%;
}

.modal-content p{
    margin: 10px;
}

#middle-images-wrapper{
    width: 100%;
    height: 500px; 
    margin-bottom: 100px;
}

#middle-images-wrapper > #left-image{
    float: left;
    margin-left: 4%;
    height: 100%;
    width: 299px;
    background-image: url("../img/lumo_auction.png");
    background-repeat: no-repeat;
}

#middle-images-wrapper > #middle-image{
    float: left;
    height: 100%;
    margin-left: 4%;
    width: 299px;
    background-image: url("../img/lumo_raffle.png");
    background-repeat: no-repeat;
}

#middle-images-wrapper > #right-image{
    float: left;
    height: 100%;
    margin-left: 4%;
    width: 299px;
    background-image: url("../img/lumo_deal.png");
    background-repeat: no-repeat;
}

.inner-wrapper{
    width: 100%;
    height: 100%;
}

.inner-wrapper > .top{
    height: 57%;
}

.inner-wrapper > .bottom{
    height: 43%;
    width: 100%;
}

.inner-wrapper > .bottom > p{
    margin: 15px;
    margin-top: 5px;
}

.buy-button{
    margin: 15px;
    margin-top: 23px;
}

@media only screen 
and (max-width : 767px) {
    #table-container{
        width: 100%;
    }
}

@media only screen 
and (max-width : 1199px) {
    #middle-images-wrapper > #middle-image{
        float: none;
        margin: 0 auto;
    }
    #middle-images-wrapper > #right-image{
        float: none;
        margin: 0 auto;
    }
    #middle-images-wrapper > #left-image{
        float: none;
        margin: 0 auto;
    }
}